h1 {
    color: darkblue;
    font-family: Verdana;
}

h2 {
    color: royalblue;
    font-family: Verdana;
}

hr {
    border-width: 2px;
    border-style: dotted;
    border-color: cornflowerblue;
}

p {
    color: blue;
    font-family: "Tahoma";
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border: 2px solid mediumslateblue;
    font-size: 1.5em;
    color: midnightblue;
}

td {
    padding: 10px;
    border-bottom: 1px dotted cadetblue;
}
