<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserir texto</title>
    <link rel="stylesheet" type="text/css" href="/static/estilo.css">
</head>
<body>
<center>
<h1>Processamento de texto</h1>
<form action="/texto" method="post">
    <label for="texto">Insira seu texto</label>
    <input type="text" id="texto" name="texto" required><br><br>

    <input type="submit" value="Formatar">
</form>
</center>
</body>
</html>
