<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Texto</title>
    <link rel="stylesheet" type="text/css" href="/static/estilo.css">
</head>
<body>
<center> <h1>Processamento de texto</h1> </center>
<center>
<table>
    <tr>
        <td>Texto normal: </td>
        <td> {{ texto }} </td>
    </tr>
    <tr>
        <td>Numero de caracteres: </td>
        <td> {{ num_caracteres }} </td>
    </tr>
    <tr>
        <td>Texto em maiúsculo: </td>
        <td> {{ maiusculo }} </td>
    </tr>
    <tr>
        <td>Texto em minusculo: </td>
        <td> {{ minusculo }} </td>
    </tr>
</table>
</center>
</body>
</html>